#App {

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
  }
  .trigger:hover {
    color: #108ee9;
  }
  .logo {
    height: 32px;
    line-height: 32px;
    color: #eee;
    background: #333;
    border-radius: 6px;
    margin: 16px;
    text-align: center;
    font-weight: bold;
  }
  .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    line-height: 42px;
  }
  .ant-layout-sider-collapsed .nav-text {
    display: none;
  }

  .header{
    background: #fff; padding: 0;
    .rightbox{
      float: right;
      display: inline-block;
      height: 64px;
      line-height: 64px;
    }
  }

}